In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
data = pd.read_csv("D:\DataAnalyst\Lab_1\dulieuxettuyendaihoc.csv", index_col="STT")

In [3]:
data.head(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,6.6,6.0,6.0,F,NaN,2,6.50,6.75,5.25,C
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,7.1,6.8,7.0,F,NaN,2,3.75,4.50,4.25,D1
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,9.1,7.9,6.1,F,NaN,1,3.50,3.50,6.75,D1
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,6.4,6.1,7.8,F,NaN,1,4.00,4.75,5.50,D1

Hàm head(n): "head" sẽ hiển thị các dòng đầu tiên trong tập data, n sẽ là số dòng mà chúng ta muốn lấy

In [4]:
data.tail(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,8.3,...,8.3,8.7,7.8,M,NaN,2,6.25,4.00,6.50,A
92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,6.9,...,7.2,7.4,7.0,M,NaN,2NT,4.75,4.75,4.50,A
93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,6.1,...,5.9,6.7,5.8,M,NaN,1,3.25,5.25,4.25,A
94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,5.8,...,8.7,7.8,5.0,M,NaN,1,3.50,4.25,5.00,A
95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,7.2,...,7.3,6.8,5.3,M,NaN,1,4.25,2.50,4.75,A
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

Hàm tail(n): "tail" sẽ trả về các dòng cuối trong tập data, n là số dòng mà chúng ta muốn lấy.

In [5]:
data["DT"].fillna(0, inplace= False)

STT
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
Name: DT, Length: 100, dtype: float64

- data["DT"]: Truy cập cột "DT" trong data
- fillna(0, inplace= False): 
+, "0": Đây là giá trị thay thế cho các giá trị NaN. 
+, "inplace = False" thì fillna() sẽ trả về 1 data mới với các giá trị đã được thay thế nhưng không làm thay đổi data ban đầu, nếu "inplace = True" thì fillna() sẽ thay đổi trực tiếp trên data ban đầu.

In [30]:
data["T1"].fillna(data["T1"].mean(), inplace= False) 
# # Thống kê dữ liệu thiếu cho biến T1
# print(data['T1'].isnull().sum())
# data['T1'].fillna(data['T1'].mean(), inplace=True)

STT
1      7.2
2      5.4
3      5.6
4      6.6
5      6.0
      ...
96     8.6
97     3.7
98     8.8
99     2.7
100    4.1
Name: T1, Length: 100, dtype: float64

- "data["T1"]: Truy cập cột T1 trong data
- "fillna(data["T1"].mean(), inplace= False)": Thay thế các giá trị NaN trong cột "T1" bằng giá trị trung bình của cột đó mà không sửa đổi data gốc.

In [31]:
def fill(col):
    return data[col].fillna(data[col].mean(), inplace = False)
data.dtypes

T1     float64
L1     float64
H1     float64
S1     float64
V1     float64
X1     float64
D1     float64
N1     float64
T2     float64
L2     float64
H2     float64
S2     float64
V2     float64
X2     float64
D2     float64
N2     float64
T3     float64
L3     float64
H3     float64
S3     float64
V3     float64
X3     float64
D3     float64
N3     float64
T4     float64
L4     float64
H4     float64
S4     float64
V4     float64
X4     float64
D4     float64
N4     float64
T5     float64
L5     float64
H5     float64
S5     float64
V5     float64
X5     float64
D5     float64
N5     float64
T6     float64
L6     float64
H6     float64
S6     float64
V6     float64
X6     float64
D6     float64
N6     float64
GT      object
DT     float64
KV      object
DH1    float64
DH2    float64
DH3    float64
KT      object
dtype: object

- fill(col): nhận một tham số "col" là tên của một cột trong DataFrame data.
- fillna(): Sử dụng phương thức này của thư viện Pandas để thay thế các giá trị thiếu (NaN) trong cột "col" của DataFrame data bằng giá trị trung bình của cột đó.
- data[col].mean(): Tính giá tị trung bình của cột "col".
- inplace = False: Trả về 1 data mới với các giá trị đã được lấp đầy mà không thay đổi data ban đầu.
- data.types: Hiển thị kiểu dữ liệu của data.

In [7]:
is_float64 = data.dtypes == float
data_column_list = data.columns[is_float64].tolist()

- "is_float64 = data.dtypes == float": Kiểm tra kiểu dữ liệu trong "data" và tạo 1 mảng boolean. Nếu cột thuộc kiểu dữ liệu float thì mảng mang giá trị True, ngược lại thì False.
- "data.columns[is_float64]": Trả về 1 Index chứa các cột có kiểu dữ liệu là float.
- "tolist()": Hàm này sẽ chuyển Index thành danh sách.

In [8]:
data_column_list

['T1',
 'L1',
 'H1',
 'S1',
 'V1',
 'X1',
 'D1',
 'N1',
 'T2',
 'L2',
 'H2',
 'S2',
 'V2',
 'X2',
 'D2',
 'N2',
 'T3',
 'L3',
 'H3',
 'S3',
 'V3',
 'X3',
 'D3',
 'N3',
 'T4',
 'L4',
 'H4',
 'S4',
 'V4',
 'X4',
 'D4',
 'N4',
 'T5',
 'L5',
 'H5',
 'S5',
 'V5',
 'X5',
 'D5',
 'N5',
 'T6',
 'L6',
 'H6',
 'S6',
 'V6',
 'X6',
 'D6',
 'N6',
 'DT',
 'DH1',
 'DH2',
 'DH3']

In [34]:
for col in data_column_list:
    data[col].fillna(data[col].mean(), inplace=False)

- Lặp qua các cột được liệt kê trong "data_column_list".
- "data[col].fillna(data[col].mean(), inplace=False)": 
+, Dùng hàm "fillna()" để thay thế các giá trị trống bằng giá trị trung bình của cột đó. 
+, "inplace=False": Trả về 1 DataFrame mới với các giá trị NaN được thay thế nhưng không thay đổi DataFrame ban đầu. Nếu muốn thay đổi trực tiếp DataFrame thì đặt "inplace=True" hoặc gán giá trị trả về từ hàm fillna() cho cột đó.

In [9]:
data.head(5)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A

- "data.head(5)": Hiển thị 5 dòng đầu tiên của DataFrame "data".

In [10]:
data.isnull().values.any()

True

- Kiểm tra xem trong DataFrame "data" có giá trị nào bị thiếu hay không.
- "isnull": Trả về 1 DataFrame cùng kích thước với DataFrame gốc, các giá trị boolean (True/False) sẽ chỉ ra vị trí có giá trị thiếu (NaN).
- "values": Chuyển đổi kết quả DataFrame từ "isnull()" thành 1 mảng NumPy.
- "any()": Kiểm tra xem có giá trị True nào trong mảng NumPy hay không. Nếu có 1 giá trị True, nó sẽ trả về True(tức là 1 giá trị NaN trong DataFrame gốc). Ngược lại là False.

In [11]:
for i in ["1", "2", "3"]:
    print("TBM" + i)

TBM1
TBM2
TBM3

- Biến "i" trong vòng lặp "for" sẽ nhận lần lượt giá trị trong danh sách là 1,2,3.
- "print("TBM" + i)": Đây là phép nỗi chuỗi, tức kết quả trả về sẽ là giá trị của "i" sẽ được nối vào sau chuỗi "TBM".

In [13]:
for i in ["1", "2", "3"]:
    data["TBM" + i] = (data["T" + i]*2 + data["L" + i] + data["H" + i] + data["S" + i] + data["V" + i] * 2 + data["X" + i] + data["D" + i] + data["N" + i]) / 10
# data.rename(columns = {"TBM6":"TBM3"}, inplace = False)
data.head()

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,GT,DT,KV,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,F,NaN,2NT,3.25,3.25,4.50,A1,7.00,7.54,7.06
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,M,NaN,1,6.00,4.00,3.50,C,4.69,5.47,4.70
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,M,NaN,1,5.00,6.75,4.00,C,5.77,5.38,4.33
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,M,NaN,1,4.25,4.25,5.25,D1,6.21,5.20,6.03
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,M,NaN,2NT,4.25,4.50,5.00,A,6.50,6.36,7.01

In [16]:
# Tạo biến TBM1, TBM2, TBM3
data['TBM1'] = (data['T1']*2 + data['L1'] + data['H1'] + data['S1'] + data['V1']*2 + data['X1'] + data['D1'] + data['N1']) / 10
data['TBM2'] = (data['T2']*2 + data['L2'] + data['H2'] + data['S2'] + data['V2']*2 + data['X2'] + data['D2'] + data['N2']) / 10
data['TBM3'] = (data['T3']*2 + data['L3'] + data['H3'] + data['S3'] + data['V3']*2 + data['X3'] + data['D3'] + data['N3']) / 10

- Các cột "TBM1", "TBM2", "TBM3": là điểm trung bình môn cho các môn học 1,2,3. Kết quả sẽ được lưu vào các cột tương ứng trong DataFrame "data".

In [37]:
def xep_loai(TBM):
    if TBM < 5.0:
        return 'Y'
    elif 5.0 <= TBM < 6.5:
        return 'TB'
    elif 6.5 <= TBM < 8.0:
        return 'K'
    elif 8.0 <= TBM < 9.0:
        return 'G'
    else:
        return 'XS'
    
data['XL1'] = data['TBM1'].apply(xep_loai)
data['XL2'] = data['TBM2'].apply(xep_loai)
data['XL3'] = data['TBM3'].apply(xep_loai)

- Hàm "apply": được sử dụng để tạo cột mới bằng những thông tin mới trong DataFrame có tên là "XL1", "XL2", "XL3".

In [15]:
# Sử dụng Min-Max Normalization 
def min_max_normalization(series):
    # return (series - series.min()) / (series.max() - series.min()) * 4
    return (series * 4) / 10

data['US_TBM1'] = min_max_normalization(data['TBM1'])
data['US_TBM2'] = min_max_normalization(data['TBM2'])
data['US_TBM3'] = min_max_normalization(data['TBM3'])

data.head(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3,US_TBM1,US_TBM2,US_TBM3
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,3.25,3.25,4.50,A1,7.00,7.54,7.06,2.800,3.016,2.824
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.00,4.00,3.50,C,4.69,5.47,4.70,1.876,2.188,1.880
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,5.00,6.75,4.00,C,5.77,5.38,4.33,2.308,2.152,1.732
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,4.25,4.25,5.25,D1,6.21,5.20,6.03,2.484,2.080,2.412
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,4.25,4.50,5.00,A,6.50,6.36,7.01,2.600,2.544,2.804
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,1.50,4.00,6.00,D1,7.96,8.54,7.82,3.184,3.416,3.128
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,6.50,6.75,5.25,C,4.90,5.60,5.24,1.960,2.240,2.096
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,3.75,4.50,4.25,D1,6.80,6.87,6.95,2.720,2.748,2.780
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,3.50,3.50,6.75,D1,6.23,6.72,6.59,2.492,2.688,2.636
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,4.00,4.75,5.50,D1,6.80,7.25,7.12,2.720,2.900,2.848

- Sử dụng phương pháp Min-Max Normalization lên các cột để chuẩn hóa dữ liệu về khoảng [0, 4].
- Áp dụng phương pháp đó lên các cột 'TBM1', 'TBM2', 'TBM3' rồi lưu kết quả vào các cột 'US_TBM1', 'US_TBM2', 'US_TBM3'.
- "data.head(10)": Hiển thị 10 dòng đầu tiên để xem kết qủa từ DataFrame.

In [43]:
def ket_qua_xet_tuyen(KT, DH1, DH2, DH3):
    if KT in ['A', 'A1']:
        diem_trung_binh = (DH1*2 + DH2 + DH3) / 4
    elif KT == 'B':
        diem_trung_binh = (DH1 + DH2*2 + DH3) / 4
    else:
        diem_trung_binh = (DH1 + DH2 + DH3) / 3
    
    return 1 if diem_trung_binh >= 5.0 else 0

data['KQXT'] = data.apply(lambda row: ket_qua_xet_tuyen(row['KT'], row['DH1'], row['DH2'], row['DH3']), axis=1)

data.head(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,DH2,DH3,KT,TBM1,TBM2,TBM3,US_TBM1,US_TBM2,US_TBM3,KQXT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,3.25,4.50,A1,7.00,7.54,7.06,2.800,3.016,2.824,0
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,4.00,3.50,C,4.69,5.47,4.70,1.876,2.188,1.880,0
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,6.75,4.00,C,5.77,5.38,4.33,2.308,2.152,1.732,1
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,4.25,5.25,D1,6.21,5.20,6.03,2.484,2.080,2.412,0
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,4.50,5.00,A,6.50,6.36,7.01,2.600,2.544,2.804,0
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,4.00,6.00,D1,7.96,8.54,7.82,3.184,3.416,3.128,0
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,6.75,5.25,C,4.90,5.60,5.24,1.960,2.240,2.096,1
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,4.50,4.25,D1,6.80,6.87,6.95,2.720,2.748,2.780,0
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,3.50,6.75,D1,6.23,6.72,6.59,2.492,2.688,2.636,0
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,4.75,5.50,D1,6.80,7.25,7.12,2.720,2.900,2.848,0

- "data['KQXT']": Tạo 1 cột mới trong DataFrame "data" có tên là "KQXT" để lưu kết quả của từng sinh viên.
- "data.apply(lambda row: ket_qua_xet_tuyen(row['KT'], row['DH1'], row['DH2'], row['DH3']), axis=1)":
+, Hàm lamda nhận vào mỗi hàng của DataFrame và gọi hàm "ket_qua_xet_tuyen" với các đối số của từng hàng để tính kết quả xét tuyển của sinh viên. 
+, "axis=1": Áp dụng hàm lamda cho mỗi hàng trong DataFrame "data".
- "data.head(10)": Hiển thị 10 dòng đầu để xem kết quả của DataFrame.

In [18]:
data.to_csv("D:\DataAnalyst\Lab_1\ processed_dulieuxettuyendaihoc.csv", index=False)
data.head(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3,US_TBM1,US_TBM2,US_TBM3
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,3.25,3.25,4.50,A1,7.00,7.54,7.06,2.800,3.016,2.824
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.00,4.00,3.50,C,4.69,5.47,4.70,1.876,2.188,1.880
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,5.00,6.75,4.00,C,5.77,5.38,4.33,2.308,2.152,1.732
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,4.25,4.25,5.25,D1,6.21,5.20,6.03,2.484,2.080,2.412
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,4.25,4.50,5.00,A,6.50,6.36,7.01,2.600,2.544,2.804
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,1.50,4.00,6.00,D1,7.96,8.54,7.82,3.184,3.416,3.128
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,6.50,6.75,5.25,C,4.90,5.60,5.24,1.960,2.240,2.096
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,3.75,4.50,4.25,D1,6.80,6.87,6.95,2.720,2.748,2.780
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,3.50,3.50,6.75,D1,6.23,6.72,6.59,2.492,2.688,2.636
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,4.00,4.75,5.50,D1,6.80,7.25,7.12,2.720,2.900,2.848

- "data.to_csv()": Dùng để lưu dữ liệu vào 1 file CSV.
- "data.head(10)": Hiển thị 10 dòng đầu tiên để từ DataFrame mới lưu.